@model List<ConvertJob>

@{
    ViewData["Title"] = "Görevler";
}
<h1 class="h4">Görevler</h1>

<div class="row">

    <a class="btn btn-outline-primary btn-sm float-end" asp-controller="Home" asp-action="NewTask">Yeni İşlem</a>
    <table class="table table-sm table-condensed">



        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.Title</td>
                    <td>@item.CreatedAt.ToString("dd.MM.yyyy")</td>
                    <td>@item.Status</td>
                    <td>@item.FileAnlageXls</td>
                    <td>@item.FileVorlageXls</td>
                    <td>@item.ResultPdf</td>
                    <td>
                        <div class="btn-group btn-group-sm">
                            <a class="btn btn-outline-primary me-1">İşlem</a>
                            <a class="btn btn-outline-danger me-1">İşlem 2</a>
                        </div>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>